{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="showcase">
    <video src="{{ MEDIA_URL }}video.mp4" loop autoplay muted></video>
    <div class="overlay"></div>
    <div class="landing-text">
        <h2>Crypto Course </h2>
        <h3>Invest in your future</h3>
        <p>Enter the world of cryptocurrency and start learning with us!</p>
        <a href="{% url 'products' %}">Shop Now</a>
    </div>
</section>

{% endblock %}