<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto list-unstyled">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold  text-full mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-full mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                 <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item ">
            <a href="{% url 'products' %}?category=courses" class="logo-font font-weight-bold nav-link text-full mr-5">Online Courses</a>
        </li>
        <li class="nav-item ">
            <a href="{% url 'products' %}?category=books" class="logo-font font-weight-bold nav-link text-full mr-5">Books</a>
        </li>
    </ul>
</div>