<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-courses-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-courses-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Online Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="onlinecourses-link">
                <a href="" class="dropdown-item">Bitcoin</a>
                <a href="" class="dropdown-item">Etherum</a>
                <a href="" class="dropdown-item">Blockchain</a>
                <a href="" class="dropdown-item">All Courses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="book-link">
                <a href="" class="dropdown-item">Bitcoin</a>
                <a href="" class="dropdown-item">Etherum</a>
                <a href="" class="dropdown-item">Blockchain</a>
                <a href="" class="dropdown-item">All Books</a>
            </div>
        </li>
    </ul>
</div>